@charset "UTF-8";
/* CSS Document */

* {
	font-family: barlow, roboto, sans-serif;
	position: relative;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: black;
/*	background-color: #BFD3C1;*/
	column-gap: 1em;
	animation-name: fadein;
	-webkit-animation-name: fadein;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	pointer-events: all;
	scroll-behavior: smooth;
	cursor: crosshair;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}

body.fadeout {
	animation-name: fadeout;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-delay: 0s;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}

@-webkit-keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}

@keyframes fadeout {
	0% {
		opacity: 100;
	}
	100% {
		opacity: 0;
	}
}

ul {
	list-style-type: none;
}

nav {
	top: 0;
	position: fixed;
	padding: 0;
	display: flex;
	width: 100%;
	align-content: center;
	height: 6.5em;
	z-index: 100;
	transition: ease;
	transition-duration: 0.5s;
	background-color: white;
	overflow: hidden;
}

.menu-options {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 0;
}

.col-8.menu {
	padding-left: 2em;
	right: 0;
	top: 1em;
	text-align: center;
}

.scrolling-text {
	display: none;
}

.sidebar a {
	margin-right: 0.5em;
	cursor: pointer;
}

a {
	color: black;
	border-bottom-style: solid;
	border-width: thin;
	transition: ease;
	transition-duration: .75s;
	width: 0%;
}

a:hover {
	color: black;
	text-decoration: none;
	border-width: thin;
	border-bottom-style: solid;
	transition: ease;
	transition-duration: .75s;
	cursor: pointer;
	width: calc(100% - 1em);
}

#activities-sidebar.menu-options {
	justify-content: flex-start;
	padding-right: 1.75em;
	text-align: right;
}

#activities-sidebar.menu-options a {
	width: 25%;
	z-index: 100;
}

#activities-sidebar.menu-options a p {
	margin: 0;
	padding: 0;
	padding-top: .05em;
}

#activities-sidebar.menu-options a:hover {
	width: calc(50% - 0.5em);
}

#work, #play, #about, #activities, #past, #contact, #social1, #social2, #social3, #social4, #social5, #social6 {
	left: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom-style: solid;
	transition: ease;
	transition-duration: 0.75s;
	width: 0%;
}

#work:hover, #play:hover, #about:hover, #activities:hover, #past:hover, #contact:hover, #social1:hover, #social2:hover, #social3:hover, #social4:hover, #social5:hover, #social6:hover {
	left: 0%;
	border-width: thin;
	border-bottom-style: solid;
	transition: ease;
	transition-duration: 0.75s;
	cursor: pointer;
	width: 100%;
}

a.active-link {
	font-weight: 600;
}

#logo {
	display: flex;
	position: fixed;
	padding: 0;
	margin: 0;
	top: 2em;
	left: 1.75em;
	max-width: 5em;
	width: 100%;
	cursor: pointer;
	border-bottom: none;
}

#close, #burger-menu, #home-close, #home-burger-menu {
	border: none;
	right: 1.75em;
	position: fixed;
	margin-top: 2em;
	max-height: 2.5em;
	height: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: .85em;
	padding-right: 0em;
	cursor: pointer;
	width: auto;
	z-index: 5;
}

#burger-menu, #home-burger-menu {
	right: 1.75em;
	margin-top: 1.5em;
	max-height: 3.5em;
	max-width: 3.5em;
}

#home-burger-menu {
	left: 100%;
}

a #close:hover, a #home-close:hover, a #burger-menu:hover, a #home-burger-menu:hover, #home-logo-alt, #home-logo-alt:hover {
	border: none;
}

em {
	text-transform: uppercase;
	width: 100%;
}

.container p {
	padding-bottom: 0;
	margin-bottom: 1em;
}

#activities-content .container p {
	font-size: 0.85em;
}

#bottom p {
	margin-bottom: 0;
}

.container hr {
	padding: 0;
	margin: 0;
}

.container hr.col-11 {
	margin-left: 1em;
}

.row {
	max-width: 100%;
}

div.container {
	overflow-x: hidden;
	padding: 0;
	top: 6.5em;
	height: calc(100vh - 7.5em);
}

#nav-divider {
	position: fixed;
	display: flex;
	padding-right: 5.5em;
	left: 1.75em;
	top: 5.5em;
	background-color: black;
	width: calc(100% - 9.95em);
	animation-name: nav-enter;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
}

@keyframes nav-enter {
	0% {
		transform: translateX(-100%);
		width: 0%;
	}
	100% {
		transform: translateX(0%);
		width: calc(100% - 10em);
	}
}

#nav-divider.exit {
	animation-name: nav-exit;
	animation-duration: 1.5s;
	animation-timing-function: ease;
}

@keyframes nav-exit {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(200%);
	}
}

.footer, .sidebar {
	display: none;
}

#footer a {
	border: none;
}

#footer a:hover {
	font-variant: small-caps;
	font-style: oblique;
}

main {
	display: grid;
	left: 1.75em;
	top: 5.9em;
	margin-top: 1.75em;
	width: calc(100vw - 3.5em);
	row-gap: 1.25em;
	column-gap: 4.75em;
	height: calc(100vh - 5.9em - 2.75em);
	overflow: scroll;
	scroll-behavior: smooth;
}

main .col1 {
	padding: 0;
	left: 0;
	overflow: scroll;
	width: 100%;
	margin: 0;
	height: calc(100vh - 5.9em - 2.75em);
	justify-content: space-between;
	scroll-behavior: smooth;
}

main .col2 {
	grid-column-start: 2;
	float: left;
	flex-direction: column;
	padding: 0;
	left: 0;
	overflow: scroll;
	height: calc(100vh - 5.9em - 2.75em);
}

main .col3 {
	grid-column-start: 3;
	float: left;
	flex-direction: column;
	padding: 0;
	left: 0;
	overflow: scroll;
	height: calc(100vh - 5.9em - 2.75em);
}

main .col2-3 {
	display: flex;
	flex-direction: column;
	padding: 0;
	left: 0;
	overflow: scroll;
	width: 100%;
	justify-content: space-between;
	height: calc(100vh - 5.9em - 2.75em);
}

hr {
	background-color: black;
}

video.horiz, img.horiz {
	position: relative;
	float: left;
	margin-bottom: 1em;
	margin-right: 0;
	margin-left: 0;
	width: calc(98% / 3);
	padding: 0;
	cursor: zoom-in;
	height: auto;
	align-self: center;
}

video.vert, img.vert {
	position: relative;
	float: left;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 1em;
	width: calc(98% / 3);
	padding: 0;
	cursor: zoom-in;
}

.work-category-header {
	float: left;
	position: relative;
	border-bottom-style: solid;
	border-width: thin;
	width: 100%;
}

.hidden, #burger-menu.hidden, #close.hidden, #home-burger-menu.hidden, #home-close.hidden, #home-nav-divider.hidden {
	display: none;
}

#original {
	display: block;
	width: 100vw;
	height: 0.0000000000001px;
	opacity: 0;
	margin: 0;
}

.magnified {
	position: relative;
	max-height: calc(100% - 0.0000000000001px);
	max-width: 100%;
	padding: 0;
	margin-bottom: 1em;
	cursor: zoom-out;
	align-self: center;
}

.container-1366-768 {
	position: relative;
	overflow: hidden;
	width: 100%;
	left: 0;
	padding-bottom: 56.2225476%;
}

iframe.magnified {
	width: 100%;
	min-height: 100%;
	padding: 0;
	vertical-align: top;
	cursor: zoom-out;
}

.container-1366-768 iframe.magnified {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	vertical-align: top;
	cursor: zoom-out;
}

video:focus, img:focus {
	outline: none;
}

.bottom, .work-row .bottom {
	margin-bottom: 0;
}

.work-row {
	column-gap: 1%;
	display: flex;
	width: 100%;
}

.loading {
	position: absolute;
	background-image: url("images/loading.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	animation: loading 5s linear infinite;
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.drag {
	max-width: 40%;
	max-height: 30%;
	position: absolute;
	cursor: move;
	border-color: white;
	border-style: solid;
	border-width: thin;
}

.drag img {
	margin: 5em;
}

#excursions {
	top: 4vh;
	left: 55%;
}

#Christmas-sweaters {
	bottom: 0;
	left: 60%;
}

#nyc {
	bottom: 5em;
	left: 4%;
}

#play-content {
	height: 200vh;
}

#col2-3-placeholder {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: white;
}

.col-10 {
	background-image: url('images/profile.jpeg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: calc(100vh - 5.9em - 2.75em);
}
.col-2, .col-2 p {
	margin: 0;
	padding: 0;
}

.col-10 img {
	max-width: 100%;
	max-height: calc(100vh - 5.9em - 2.75em);
	padding: 0;
	margin: 0;
	opacity: 0;
	animation: none;
}

.right-col, .center-col, .left-col {
	text-align: center;
	left: 0.95em;
	transition: ease;
	transition-duration: 0.5s;
	padding: 5% 0;
	border: thin solid;
	overflow-x: scroll;
	height: calc((100vh - 5.9em - 2.7em) / 3);
	width: calc(75% - 3.25em);
	overflow-wrap: break-word;
}

.center-col {
	top: -0.06em;
}

.right-col {
	top: -0.12em;
}

#bio, .activity-description {
	overflow-wrap: break-word;
	hyphens: auto;
}

.right-col em, .center-col em, .left-col em {
	width: 100%;
}

.right-col br, .center-col br, .left-col br {
	user-select: none;
}

.home-menu {
	visibility: hidden;
}

@media (min-width: 768px) {
	main {
		left: calc(25% - 0.25em);
		width: calc(75% - 3.25em);
		margin: 1.75em;
	}
	
	.right-col, .center-col, .left-col {
		padding: 20% 0;
		left: 0;
		right: 0;
		margin: 0;
		top: 0;
		height: calc(100vh - 5.9em - 2.75em);	
	}
	
	.left-col {
		left: 1.06em;
	}

	.right-col {
		left: -1.06em;
	}
	
	.sidebar {
		display: inherit;
		position: fixed;
		font-size: 0.85em;
		overflow: scroll;
		top: 9em;
		bottom: 10em;
		padding-left: 0;
		margin-left: 0.95em;
		padding-bottom: 0em;
		padding-right: 0em;
		width: calc(25% - 2.7em);
	}
	
	#vl {
		position: fixed;
		margin-bottom: 1.15em;
		top: 7.75em;
		left: 15.75%;
		border-width: thin;
		border-right-style: solid;
		width: 10%;
		text-transform: lowercase;
		font-size: 0.85em;
		animation-name: vl-enter;
		animation-delay: 0s;
		animation-duration: 1.5s;
		z-index: -1;
		height: calc(100vh - 7.75em - 1.15em);
	}

	#vl.exit {
		animation-name: vl-exit;
		animation-duration: 2s;
		animation-delay: 0s;
		animation-timing-function: ease;
	}

	@keyframes vl-enter {
		0% {
			height: 0%;
		}
		100% {
			height: calc(100vh - 7.75em - 1.15em);
		}
	}

	@keyframes vl-exit {
		0% {
			transform: translateY(0%);
		}
		100% {
			transform: translateY(200%);
		}
	}
	
	.scrolling-text {
		display: inherit;
		position: fixed;
		height: 2em;
		overflow: hidden;
		font-size: .75em;
		border-style: solid none;
		border-width: thin;
		padding-left: 0em;
		margin-left: 1.1em;
		width: calc(25% - 3.1em);
		bottom: 8em;
	}

	.scrolling-text p {
		width: max-content;
		text-transform: lowercase;
		animation: marquee 90s linear infinite;
	}

	@keyframes marquee {
		from {
			transform: translateX(0%);
		}

		to {
			transform: translateX(-50%);
		}
	}

	@keyframes marquee-reverse {
		from {
			transform: translateX(-50%);
		}

		to {
			transform: translateX(0%);
		}
	}
	
	.footer {
		display: grid;
		position: fixed;
		margin-top: 0em;
		margin-bottom: 0em;
		padding-right: 0;
		padding-left: 0;
		padding-bottom: 0;
		height: 4.25em;
		margin-left: 0.8em;
		bottom: 1em;
		width: calc(25% - 2.3em);
	}

	.footer1 {
		grid-column-start: 1;
	}

	.footer2 {
		grid-column-start: 2;
		text-align: right;
	}
	
	main .col1 {
		grid-column-start: 1;
		padding: 0;
		left: 0;
		overflow: scroll;
		width: 100%;
		margin: 0;
		height: calc(100vh - 5.9em - 2.75em);
		justify-content: space-between;
	}

	main .col2 {
		grid-column-start: 2;
		float: left;
		flex-direction: column;
		padding: 0;
		left: 0;
		overflow: scroll;
		height: calc(100vh - 5.9em - 2.75em);
	}

	main .col3 {
		grid-column-start: 3;
		float: left;
		flex-direction: column;
		padding: 0;
		left: 0;
		overflow: scroll;
		height: calc(100vh - 5.9em - 2.75em);
	}

	main .col2-3 {
		grid-column-start: 2;
		grid-column-end: 4;
		display: flex;
		flex-direction: column;
		padding: 0;
		left: 0;
		overflow: scroll;
		width: 100%;
		justify-content: space-between;
		height: calc(100vh - 5.9em - 2.75em);
	}
	
	#work-sidebar div, .work-categories {
		max-height: 25%;
		padding-bottom: 2.5em;
		overflow-y: scroll;
		overflow-x: hidden;
		width: 100%;
	}

	#work-sidebar p {
		overflow: scroll;
		height: 100%;
	}

	#work-sidebar {
		overflow: hidden;
		top: calc(15em);
	}

	.work-categories {
		position: fixed;
		width: calc(25% - 2.7em);
		max-height: 3.5em;
		padding: 0;
	}

	#work-categories-hr {
		position: fixed;
		top: calc(12.5em);
	}

	.work-category {
		overflow: scroll;
		white-space: nowrap;
		cursor: pointer;
	}
	
	nav {
		position: fixed;
		top: 0;
		margin-top: 1em;
		margin-bottom: 1em;
		display: flex;
		width: 100%;
		text-align: left;
		z-index: 100;
	}
	
	.menu-options {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: calc(100% - 1em);
		margin-bottom: 0;
		text-align: left;
	}
	
	.col-8.menu {
		top: 0;
		max-height: 5em;
		padding-left: 1.25em;
		padding-right: 0.75em;
		text-align: left;
	}
	
	div.container {
		top: 0;
		height: 5.5em;
	}
	
	#work, #play, #about, #activities, #past, #contact, #social1, #social2, #social3, #social4, #social5, #social6 {
		left: 0%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		border-bottom-style: solid;
		transition: ease;
		transition-duration: 0.75s;
		width: 0%;
	}

	#work:hover, #play:hover, #about:hover, #activities:hover, #past:hover, #contact:hover, #social1:hover, #social2:hover, #social3:hover, #social4:hover, #social5:hover, #social6:hover {
		left: 0%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		border-bottom-style: solid;
		transition: ease;
		transition-duration: 0.75s;
		width: calc(100% - 1em);
	}
	
	#logo {
		top: 1em;
		margin-top: 0.45em;
		max-height: 3.75em;
		width: auto;
		max-width: calc(25% - 2.7em);
	}
	
	#close, #burger-menu, #home-close, #home-burger-menu, #home-logo-alt {
		display: none;
	}
	
	.home-menu {
		visibility: visible;
	}
	
	#menu-socials {
		display: none;
	}
}