.workPage {
  width: 100vw;
  height: calc(100dvh - 1em);
  margin: 0;
  display: flex;
}

.workPage main {
  position: relative;
  width: 100vw;
  height: calc(100dvh - 1em);
  overflow: hidden;
  top: 0;

  display: grid;
  grid-template-columns: minmax(10em, 1fr) 4fr minmax(10em, 1fr);
  grid-template-rows: 6em 3em 1fr;
  gap: 0;
}

@property --gradient-percentage {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

.workPage main div.module {
  border: 0.5px solid transparent;
  transition:
    --gradient-percentage 1s ease,
    all 0.5s ease;

  &:first-of-type {
    left: 0.25px;
    top: 0.25px;
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to bottom right, black var(--gradient-percentage), white)
        border-box;
    z-index: 1;
  }

  &:nth-child(2) {
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to bottom, black var(--gradient-percentage), white)
        border-box;
    right: 0.25px;
    top: 0.25px;
    width: calc(100% + 0.5px);
  }

  &:nth-child(3) {
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to bottom left, black var(--gradient-percentage), white)
        border-box;
    right: 0.25px;
    top: 0.25px;
    z-index: 1;
  }

  &:nth-child(4) {
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to right, black var(--gradient-percentage), white)
        border-box;
    left: 0.25px;
    top: -0.25px;
    height: calc(100% + 0.5px);
  }

  &:nth-child(5) {
    left: -0.25px;
    top: -0.25px;
    width: calc(100% + 0.5px);
    height: calc(100% + 0.5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;

    &::after,
    &::before {
      content: "";
      position: absolute;
      z-index: 5;
      border-radius: 0;
      top: calc(50% + 0.25px);
      left: calc(50% + 0.25px);
      transform: translate(calc(-50% - 0.25px), calc(-50% - 0.25px));
      animation-timing-function: ease-out;
      animation-duration: 0.25s;
      animation-fill-mode: both;
      animation-delay: 250ms;
      pointer-events: none;
    }

    &::before {
      height: calc(100% + 1px);
      border-bottom: white 0.25px solid;
      border-top: white 0.25px solid;
      animation-name: border-fadein-X;
    }

    &::after {
      border-left: white 0.25px solid;
      border-right: white 0.25px solid;
      width: calc(100% + 1px);
      animation-name: border-fadein-Y;
    }
  }

  &:nth-child(6) {
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to left, black var(--gradient-percentage), white)
        border-box;
    right: 0.25px;
    top: -0.25px;
    height: calc(100% + 0.5px);
  }

  &:nth-child(7) {
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to top right, black var(--gradient-percentage), white)
        border-box;
    left: 0.25px;
    bottom: 0.25px;
    z-index: 1;
  }

  &:nth-child(8) {
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to top, black var(--gradient-percentage), white)
        border-box;
    right: 0.25px;
    width: calc(100% + 0.5px);
    bottom: 0.25px;
    padding: 2em;
    padding-bottom: 0;
    overflow-y: scroll;
  }

  &:nth-child(9) {
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to top left, black var(--gradient-percentage), white)
        border-box;
    right: 0.25px;
    bottom: 0.25px;
    z-index: 1;
  }
}

.workPage .category {
  background-color: black;
}

.workPage .category h1 {
  padding-left: calc(1em / 3);
  margin-bottom: 0;
  position: sticky;
  top: calc(2em / 3);
  z-index: 5;
  background-color: black;
}

.workPage .category-pieces {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 2em;
  column-gap: 1em;
  row-gap: 2em;
}

.workPage .category-piece {
  width: calc((100% - 2em) / 3);
  display: flex;
  flex-direction: column;
  transition: 0.25s ease;
  height: fit-content;
  overflow: visible;
}

.workPage .piece-data {
  display: flex;
  justify-content: space-between;
}

.workPage .piece-title {
  margin-right: 1em;
  line-height: 1.25;
  transition: 0.5s ease;
  transition-delay: 75ms;
  top: 0;
}

.workPage .category-piece img,
.workPage .category-piece video {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  transition: 0.5s ease;
  margin-bottom: 0.75em;
  border-radius: 0.5em;
}

.workPage .media-container {
  display: flex;
}

.workPage .hidden-piece-preview {
  position: absolute;
  padding-top: 0;
  top: 0;

  p {
    bottom: -0.5em;
    opacity: 0;
    font-size: 0.9em;
    filter: blur(8px);
    line-height: 1.25;
    transition: 0.25s ease;
  }
}

.workPage .hidden-piece-data {
  position: absolute;
  bottom: 1.5em;
  left: 0.75em;
  width: calc(100% - 1.5em);
  pointer-events: none;

  .hidden-piece-title,
  .hidden-piece-year {
    overflow: hidden;
    pointer-events: none;
  }

  .hidden-piece-year p {
    font-size: 0.7em;
    font-style: italic;
    transition-delay: 50ms;
  }

  p {
    font-size: 1.25em;
    line-height: 1.25;
    margin: 0;
    margin-top: 0.25em;
    bottom: -0.5em;
    transition: 0.25s ease;
    transition-delay: 25ms;
    filter: blur(8px);
    opacity: 0;
    pointer-events: none;
  }
}

.workPage .category-piece:hover {
  transition: 0.25s ease;
  img,
  video {
    cursor: pointer;
    filter: blur(4px) brightness(0.75);
    opacity: 0.25;
  }

  .piece-title,
  .piece-tag {
    transition: 0.25s ease;
    transition-delay: 25ms;
    top: -0.5em;
    filter: blur(8px);
    opacity: 0;
    pointer-events: none;
  }

  .piece-tag {
    transition-delay: 50ms;
  }

  .hidden-piece-data p {
    bottom: 0em;
    transition: 0.25s ease;
    filter: blur(0px);
    opacity: 1;

    .hidden-piece-title & {
      transition-delay: 50ms;
    }
  }

  .hidden-piece-preview p {
    opacity: 1;
    bottom: 0;
    filter: blur(0px);
    transition: 0.5s ease;
    transition-delay: 50ms;
  }
}

.workPage .piece-tags {
  column-gap: 0.25em;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.1;
  white-space: nowrap;
}

.workPage .piece-tag {
  display: inline;
  text-transform: uppercase;
  transition: 0.5s ease;
  transition-delay: 25ms;
  top: 0;

  &:not(:last-of-type) {
    margin-right: 0.25em;
  }
}

.workPage .piece-tag p {
  font-size: 0.6em;
  margin: 0;
  min-width: 0;
  text-wrap: nowrap;
  display: inline;
}

.workPage .piece-text,
.workPage .piece-tags {
  overflow: hidden;
}

/* .workPage .piece-preview {
  position: absolute;
  bottom: 1em;
  row-gap: 0;
}

.workPage .piece-preview img {
  height: auto;
  aspect-ratio: 4/3;
  width: 100%;
  object-fit: cover;
  cursor: crosshair;
  margin-bottom: 0.5em;
  border-radius: 0.25em;
  pointer-events: none;
  display: none;
  animation: none;
  flex-shrink: 0;
  margin-top: 0;
}

.workPage .piece-preview-year {
  font-size: 0.8em;
  line-height: 1.2;
  font-style: oblique;
}

.workPage .piece-preview-description {
  font-size: 0.9em;
  line-height: 1.25;
}

.workPage .piece-preview-title {
  margin-bottom: 0.5em;
  line-height: 1.35em;
} */

.workPage .mode-wrapper {
  line-height: 1;
  z-index: 6;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  column-gap: 1.5em;
}

.workPage .mode-wrapper input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid white;
  width: 0.8em;
  height: 0.8em;
  border-radius: 0.5em;
}

.workPage .mode-wrapper label {
  font-size: 0.9em;
}

.workPage .mode-wrapper input[type="radio"]:checked {
  background-color: white;
}

.workPage .mode {
  height: 1em;
  column-gap: 0.5em;
  display: flex;
  align-items: flex-end;
}

.workPage .links p {
  margin: 0;
  text-decoration: line-through;
}

.workPage nav .links a:first-of-type {
  text-decoration: line-through;
  pointer-events: none;
}

nav #mobile-contact {
  display: none;
}

@media (max-width: 1200px) {
  .workPage .category-piece {
    width: calc((100% - 1em) / 2);
  }
}

@media (max-width: 992px) {
  .workPage .category-piece {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .workPage .category-piece {
    width: 100%;
  }

  .workPage main {
    grid-template-columns: 2em 4fr 2em;
    grid-template-rows: 6em 3em 1fr;
  }

  .workPage .mode-wrapper {
    margin-left: 1.5em;
  }

  .workPage main div.module {
    &:nth-child(5) {
      justify-content: start;
    }
    &:nth-child(8) {
      padding: 1.5em;
    }
  }

  .workPage .category-pieces {
    gap: 1.5em;
  }
}
