.workPage {
  width: calc(100vw - 2em);
  height: calc(100dvh - 2em);
  margin: 1em;
  display: flex;
}

.workPage nav {
  display: flex;
  flex-direction: column;
  width: calc((100vw - 5em) / 6 + 1em);
  min-width: 15em;
  align-items: flex-end;
  height: calc(100dvh - 3em);
  position: relative;
  padding-right: 2em;
  z-index: 7;
}

.workPage nav::after {
  content: "";
  border-right: 1px solid white;
  position: absolute;
  right: 0;
  animation: nav-border 1.5s ease;
  animation-fill-mode: forwards;
}

@keyframes nav-border {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes nav-border-unload {
  0% {
    height: 100%;
    top: 0;
  }
  100% {
    height: 0;
    top: 100%;
  }
}

.workPage.fadeout nav::after {
  animation: nav-border-unload 0.75s ease;
}

.workPage nav .links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.workPage nav img {
  max-height: 4.5em;
  cursor: pointer;
  margin-bottom: 1em;
}

.workPage nav #logo:hover::before {
  content: "";
}

.workPage main {
  position: relative;
  height: calc(100dvh - 5em);
  overflow: scroll;
  margin-left: -1em;
  top: 2em;
}

.workPage .category {
  background-color: black;
}

.workPage .category h1 {
  padding-left: calc(2em / 3);
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  margin-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: black;
}

.workPage .category h1::before {
  border-top: 1px solid white;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  animation: category-border 1.5s ease;
  animation-fill-mode: forwards;
}

@keyframes category-border {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes category-border-unload {
  0% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}

.workPage.fadeout .category h1::before {
  animation: category-border-unload 0.75s ease;
}

.workPage .category-pieces {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: 1em;
  padding-left: 1em;
}

.workPage .category-piece {
  margin-bottom: 1em;
  width: calc((100vw - 20em) / 3);
  height: fit-content;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
}

.workPage .piece-data {
  display: flex;
  justify-content: space-between;
}

.workPage .piece-title {
  margin-right: 1em;
}

.workPage .piece-title:hover {
  cursor: pointer;
}

.workPage .piece-year {
  font-style: italic;
}

.workPage .category-piece img,
.workPage .category-piece video {
  width: 100%;
  height: 15em;
  object-fit: contain;
  padding: 1em;
  border: 1px solid white;
  margin-bottom: 0.5em;
  transition: 0.5s ease;
}

.workPage .category-piece img:hover,
.workPage .category-piece video:hover {
  cursor: pointer;
  border-radius: 0.5em;
  transition: 0.5s ease;
}

.workPage .category-piece::after {
  /*top and bottom*/
  content: "";
  z-index: 2;
  position: absolute;
  width: calc(100% - 2em);
  height: 15em;
  border: thick solid black;
  left: 1.5em;
  top: 0;
  pointer-events: none;
}

.workPage .category-piece::before {
  /*left and right*/
  content: "";
  z-index: 2;
  position: absolute;
  width: calc(100% - 1em);
  height: 14em;
  background-color: transparent;
  border: medium solid black;
  top: 0.5em;
  right: 0;
  pointer-events: none;
}

.workPage .piece-preview {
  position: absolute;
  bottom: 0;
  width: calc(100% - 2em);
}

.workPage .piece-preview img {
  min-height: 10em;
  width: 100%;
  object-fit: cover;
  cursor: crosshair;
  margin-bottom: 0.5em;
  border-radius: 0.25em;
  pointer-events: none;
  display: none;
  animation: none;
}

.workPage .piece-preview-year {
  font-size: 0.8em;
  line-height: 1.2;
  font-style: oblique;
}

.workPage .piece-preview-description {
  font-size: 0.9em;
  line-height: 1.25;
}

.workPage .piece-preview-title {
  margin-bottom: 0.5em;
  line-height: 1.35em;
}

.workPage .mode-wrapper {
  padding-left: 2em;
  height: 2em;
  line-height: 1;
  position: fixed;
  top: 1em;
  width: calc((100vw - 5em) / 6 * 5 + 3em - 1px);
  height: calc(2em + 1px);
  z-index: 6;
  display: flex;
}

.workPage .mode-wrapper input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid white;
  width: 0.8em;
  height: 0.8em;
  border-radius: 0.5em;
}

.workPage .mode-wrapper label {
  margin-right: 1em;
  font-size: 0.9em;
}

.workPage .mode-wrapper input[type="radio"]:checked {
  background-color: white;
}

.workPage .mode {
  height: 1em;
  column-gap: 0.5em;
  display: flex;
  align-items: flex-end;
}

.workPage .piece-tags {
  display: flex;
  column-gap: 0.25em;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

.workPage .piece-tag {
  border-radius: 0.75em;
  padding: 0.25em;
  height: fit-content;
  border: 0.5px solid white;
  text-transform: uppercase;
}

.workPage .piece-tag p {
  font-size: 0.6em;
  margin: 0;
  text-wrap: nowrap;
}

@media (max-width: 992px) {
  .workPage .category-piece {
    width: calc((100vw - 19em) / 2);
  }
}

@media (max-width: 768px) {
  .workPage .category-piece {
    width: 100%;
  }

  .workPage {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .workPage nav {
    width: calc(100vw - 2em);
    height: max-content;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .workPage nav::after {
    border-right: none;
  }

  .workPage nav img {
    margin: 0;
  }

  .workPage main {
    width: calc(100vw - 2em);
    height: calc(100dvh - 8.5em);
    top: 0;
    margin: 0;
  }

  .workPage .piece-preview {
    display: none;
  }

  .workPage .mode-wrapper {
    display: none;
  }

  .workPage .category h1 {
    padding-left: 0;
    font-size: 2em;
  }

  .workPage .category-pieces,
  .workPage .category-piece {
    padding-left: 0em;
  }

  .workPage .category-piece::after {
    /*top and bottom*/
    width: calc(100% - 1em);
    left: 0.5em;
  }

  .workPage .category-piece::before {
    /*left and right*/
    width: 100%;
  }
}
