.piecePage {
  width: 100vw;
  height: 100dvh;
  display: flex;
}

.piecePage main {
  display: grid;
  height: 100dvh;
  width: 100vw;
  overflow: scroll;
  grid-template-columns: minmax(10em, 1fr) 4fr minmax(10em, 1fr);
  grid-template-rows: 6em 1fr;
  gap: 0;
}

.piecePage main div.module {
  border: 0.5px solid transparent;
  transition: 0.5s ease;

  &:first-of-type {
    left: 0.25px;
    top: 0.25px;
    border-end-end-radius: 8px;
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to bottom right, black 50%, white) border-box;
    z-index: 1;
  }

  &:nth-child(2) {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to bottom, black 50%, white) border-box;
    right: 0.25px;
    top: 0.25px;
    width: calc(100% + 0.5px);
  }

  &:nth-child(3) {
    border-bottom-left-radius: 8px;
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to bottom left, black 50%, white) border-box;
    right: 0.25px;
    top: 0.25px;
    z-index: 1;
  }

  &:nth-child(4) {
    border-top-right-radius: 8px;
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to top right, black 50%, white) border-box;
    left: 0.25px;
    bottom: 0.25px;
    z-index: 1;
  }

  &:nth-child(5) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to top, black 50%, white) border-box;
    right: 0.25px;
    width: calc(100% + 0.5px);
    bottom: 0.25px;
    gap: 2em;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 2em;

    /* &::before {
      content: "";
      box-shadow: 0 0 1em 2em inset black;
      width: calc(100vw / 3 * 2 - 0.5px);
      height: calc(100dvh / 6 * 5);
      position: fixed;
      z-index: 2;
      margin-top: -2em;
      margin-left: -2em;
    } */
  }

  &:nth-child(6) {
    border-top-left-radius: 8px;
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to top left, black 50%, white) border-box;
    right: 0.25px;
    bottom: 0.25px;
    z-index: 1;
  }
}

.piecePage .media {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100%;
  height: fit-content;
  background-color: black;
  box-shadow: 0 0 2em 1em black;
}

.piecePage .piece-info {
  display: flex;
  line-height: 1.2;
  font-weight: 400;
  flex-shrink: 0;
  flex-direction: column;
  position: sticky;
  left: 0;
  top: 0;
}

.piecePage .piece-description {
  font-size: 0.9em;
  /* column-count: 2; */
  column-gap: 2em;
}

.piecePage .piece-more {
  font-weight: 600;
  margin-left: 0.5em;
  display: inline;
  white-space: nowrap;

  &:hover::before {
    content: "";
  }
}

.piecePage .piece-description-expand div {
  display: inline;
}

.piecePage .piece-description-expand.expanded {
  column-count: 2;
}

.piecePage .piece-data {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  justify-content: flex-start;
  z-index: 1;
}

.piecePage .piece-data::before {
  content: "";
  height: calc(100% - 2em);
  width: 100%;
  background-color: black;
  position: absolute;
}

.piecePage .piece-data::after {
  content: "";
  width: 100%;
  background-color: transparent;
  height: 2em;
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.piecePage .piece-url a:hover::before {
  content: "";
}

.piecePage .piece-description {
  height: fit-content;
  width: 100%;
  text-align: left;
}

.piecePage .piece-year {
  font-size: 0.75em;
}

.piecePage .piece-title {
  font-size: 1.5em;
  margin-bottom: 0.75em;
}

.piecePage .piece-size,
.piecePage .piece-url,
.piecePage .piece-medium {
  margin-bottom: 0.5em;
}

.piecePage .piece-size,
.piecePage .piece-url {
  font-size: 0.85em;
}

.piecePage .piece-back {
  width: calc(100% / 3 - 2em);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.piecePage .piece-medium {
  font-style: oblique;
  font-size: 0.9em;
  line-height: 1.2em;
}

.piecePage .piece-url a::after {
  font-family: system-ui;
  content: " ↘ ";
  text-decoration-color: white;
  display: inline-block;
  margin-left: 0.25em;
  transition-duration: 0.25s;
}

.piecePage .piece-url a,
.piecePage .piece-url a:hover {
  color: white;
  text-decoration: underline;
}

.piecePage .piece-url a:hover::after {
  transform: rotate(-90deg);
  transition-duration: 0.25s;
}

.piecePage main video,
.piecePage main img,
.piecePage main picture {
  font-size: 1em;
  width: 100%;
  border-radius: 0.5em;
}

@media (max-width: 768px) {
  .piecePage .media {
    height: fit-content;
    background-color: black;
  }

  .piecePage .piece-description-expand.expanded {
    column-count: 1;
    z-index: -2;
  }

  .piecePage .piece-info {
    width: 100%;
    height: fit-content;
    bottom: 0;
    top: unset;

    &::before {
      content: "";
      background-color: black;
      position: fixed;
      width: calc(100vw - 4em - 1.25px);
      height: 2em;
      left: calc(2em + 0.75px);
      top: calc(6em + 0.25px);
      border-radius: 12px;
    }
  }

  .piecePage main {
    grid-template-columns: minmax(0, 2em) 4fr 2em;
    grid-template-rows: 6em 1fr;
  }

  .piecePage main div.module:nth-child(5) {
    padding: 1.5em;
  }
}
