.homePage {
  width: calc(100vw - 2em);
  height: calc(100dvh - 2em);
  margin: 1em;
  box-sizing: border-box;
}

.homePage.fadein {
  animation-duration: 2s;
}

.homePage #background-overlay {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 1) 100%
  );
  opacity: 0.75;
  animation-delay: -1s;
  top: 0;
  left: 0;
}

.homePage #background-video {
  width: 100vw;
  height: 100dvh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.homePage #version a,
.homePage nav a,
.homePage #ig {
  color: white;
}

.homePage .bio {
  width: calc(50vw - 1em);
}

.homePage .bio p {
  margin: 0;
}

.homePage #version a {
  padding-left: 1em;
  height: fit-content;
}

.homePage #version a::before {
  content: "";
}

.homePage a.ver {
  opacity: 0.5;
  visibility: visible;
  transition: ease;
  transition-duration: 0.25s;
}

.homePage a.ver:hover {
  opacity: 1;
  transition: ease;
  transition-duration: 0.25s;
}

.homePage a.ver.hidden {
  opacity: 0;
  visibility: hidden;
  transition: ease;
  transition-duration: 0.25s;
}

.homePage nav a:hover::before,
.homePage #ig:hover::before {
  font-family: system-ui;
  content: " ↖ ";
}

.homePage nav #work-link a:hover::after {
  font-family: system-ui;
  content: " ↗ ";
}

.homePage nav #work-link a:hover::before {
  content: "";
}

.homePage #title {
  color: white;
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: -1em;
  justify-content: space-between;
}

.homePage #title h1 {
  color: white;
  font-size: clamp(2.25em, 12.5vw, 100vw);
}

.homePage nav {
  width: calc(100vw - 2em);
  left: 1em;
  position: fixed;
  padding: 0;
  bottom: 1em;
}

.homePage .nav-links {
  width: calc(100vw - 2em);
  display: flex;
  margin-bottom: -1em;
  justify-content: space-between;
  z-index: 5;
}

.homePage .nav-sublinks {
  width: 50%;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.homePage .nav-sublinks a {
  margin-left: 1em;
  text-align: end;
  width: 100%;
}

.homePage .bio-links {
  display: flex;
}

.homePage .bio-links .link-container {
  display: flex;
  flex-direction: column;
}

.homePage .bio-links #version {
  width: calc(50vw - 1em);
  display: flex;
  justify-content: flex-end;
  column-gap: 0;
}

.homePage footer {
  width: calc(100vw - 2em);
  position: fixed;
  bottom: 1em;
  column-gap: 0;
}

.homePage #instagram {
  display: flex;
  align-items: flex-end;
  height: fit-content;
}

@media (max-width: 576px) {
  .homePage .nav-links {
    margin-bottom: -0.5em;
  }

  .homePage .bio-links {
    flex-wrap: wrap;
  }

  .homePage .bio {
    width: calc(100vw - 2em);
    margin-bottom: 1em;
  }

  .homePage .bio-links .link-container {
    flex-direction: row;
    width: calc(100vw - 2em);
  }

  .homePage .bio-links #version {
    width: calc(75vw - 1em);
  }

  .homePage #instagram {
    width: calc(25vw - 1em);
    white-space: nowrap;
  }

  .homePage #ig:hover::before {
    content: "";
  }

  .homePage #ig:hover::after {
    font-family: system-ui;
    content: " ↗ ";
  }
}

@media (min-width: 768px) {
}
