.marquee {
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  height: 1em;
  z-index: 10;
  background-color: black;
  bottom: 0;
  left: 0;
  overflow: hidden;
  flex-wrap: nowrap;
}

.marquee-text-wrapper {
  /* width: 200%; */
  width: fit-content;
  overflow: hidden;
  display: flex;
  height: 1em;
  align-items: center;
  position: absolute;
  flex-wrap: nowrap;
  column-gap: 0;
}

.marquee p {
  width: 50%;
  height: 0.75em;
  font-size: 0.75em;
  line-height: 0.75em;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  animation: marquee 60s linear infinite;
}

@keyframes marquee {
  0% {
    left: 0%;
  }
  100% {
    left: -50%;
  }
}
