.homePage {
  width: 100vw;
  height: 100%;
  margin: 0;
  gap: 0;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: column;
}

.homePage main {
  width: 100vw;
  display: grid;
  grid-template-columns: minmax(10em, 1fr) 5fr;
  grid-template-rows: 6em 5fr;
  gap: 0;
}

@property --gradient-percentage {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

.homePage main .module {
  display: none;
}

.homePage main .quad {
  border: 0.5px solid transparent;
  transition:
    all 0.5s ease,
    --gradient-percentage 1s ease;

  transition-property: all, --gradient-percentage, border;
  transition-timing-function: ease, ease, step-end;
  transition-duration: 0.5s, 1s, 0s;

  &:nth-child(1 of .quad) {
    left: 0.25px;
    top: 0.25px;
    border-end-end-radius: var(--desktop-radius);
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to bottom right, black var(--gradient-percentage), white)
        border-box;

    &:hover {
      border-end-end-radius: 24px;
    }
  }

  &:nth-child(2 of .quad) {
    border-bottom-left-radius: var(--desktop-radius);
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to bottom left, black var(--gradient-percentage), white)
        border-box;
    right: 0.25px;
    top: 0.25px;

    &:hover {
      border-bottom-left-radius: 32px;
    }
  }

  &:nth-child(3 of .quad) {
    border-start-end-radius: var(--desktop-radius);
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to top right, black var(--gradient-percentage), white)
        border-box;
    bottom: 0.25px;
    left: 0.25px;

    &:hover {
      border-start-end-radius: 40px;
    }
  }

  &:nth-child(4 of .quad) {
    height: calc(100dvh - 6em);
    border-top-left-radius: var(--desktop-radius);
    background:
      linear-gradient(black, black) padding-box,
      linear-gradient(to top left, black var(--gradient-percentage), white)
        border-box;
    bottom: 0.25px;
    right: 0.25px;
    padding: 2em;
    display: flex;
    gap: 4em;
    border: solid 0.5px transparent;

    &::after,
    &::before {
      content: "";
      opacity: 0;
      position: absolute;
      border-radius: 0;
      top: calc(50% + 0.25px);
      left: calc(50% + 0.25px);
      transform: translate(calc(-50% - 0.25px), calc(-50% - 0.25px));
      animation-timing-function: ease-out;
      animation-duration: 0.25s;
      animation-fill-mode: both;
      animation-delay: 250ms;
      pointer-events: none;
    }

    &::before {
      height: calc(100% + 1px);
      border-bottom: white 0.5px solid;
      border-top: white 0.5px solid;
      animation-name: border-fadein-X;
    }

    &::after {
      border-left: white 0.5px solid;
      border-right: white 0.5px solid;
      width: calc(100% + 1px);
      animation-name: border-fadein-Y;
    }

    &:hover {
      border-top-left-radius: 64px;
    }
  }
}

a.ver,
a.addlink {
  opacity: 0.5;
  visibility: visible;
  transition: ease;
  transition-duration: 0.25s;
}

a:hover {
  opacity: 1;
  transition: ease;
  transition-duration: 0.25s;
}

a.ver.hidden,
a.addlink.hidden {
  opacity: 0;
  visibility: hidden;
  transition: ease;
  transition-duration: 0.25s;
}

.homePage #version {
  display: flex;
  position: fixed;
  bottom: 2em;
  left: 2em;
  flex-shrink: 0;
  width: 10ch;
  text-align: start;
  justify-content: start;
  flex-direction: column-reverse;
  line-height: 1.25;
}

#version a,
nav a,
#additional-links a {
  color: white;
}

nav a:hover::before,
#additional-links a:last-of-type:hover::before,
#version a:hover:nth-of-type(2)::after,
#version a::before,
.text-group a:hover::before {
  content: "";
}

a:hover::before {
  font-family: system-ui;
  content: " ↖ ";
  font-size: 0.75em;
}

#version a:hover::after {
  font-family: system-ui;
  display: inline-block;
  margin-left: 0.25em;
  content: " ↗ ";
  font-size: 0.75em;
}

.homePage .text-container {
  width: calc(100vw / 3 - 2em);
}

.homePage .text-group {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  margin-bottom: 1em;

  a {
    border-bottom: 0.25px solid white;
  }
}

.text-group a span {
  white-space: nowrap;
  cursor: pointer;
}

.text-group a .link-arrow {
  font-family: system-ui;
  display: inline-block;
  font-size: 0.75em;
  transform: rotate(0deg);
  transition-duration: 0.25s;
  cursor: pointer;
}

.text-group a:hover .link-arrow {
  transform: rotate(-90deg);
  transition-duration: 0.25s;
}

.header {
  text-transform: uppercase;
  font-size: smaller;
  opacity: 0.7;
  margin-bottom: 0.25em;
}

.homePage #reel {
  position: absolute;
  bottom: 2em;
  right: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  pointer-events: none;

  video {
    border-radius: 0.5em;
    overflow: hidden;
    object-fit: cover;
    aspect-ratio: 16/9;
  }
}

.homePage #mobile-name {
  display: none;
}

@media (max-width: 576px) {
  .homePage main {
    width: 100vw;
    display: grid;
    grid-template-columns: 2em 5fr 2em;
    grid-template-rows: 6em 5fr 6em;
    gap: 0;
  }

  .homePage #version {
    column-gap: 1em;
    align-content: flex-start;
    align-items: flex-start;
    height: 6em;
    bottom: 0;
    flex-wrap: wrap;
    width: calc(100vw - 4em);
    padding: 1.5em;
    flex-direction: column;
  }

  .homePage #reel {
    position: absolute;
    bottom: 1.5em;
    right: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 3em);
    pointer-events: none;

    video {
      border-radius: 0.5em;
      overflow: hidden;
      object-fit: cover;
      aspect-ratio: 16/9;
    }
  }

  .homePage main .quad {
    display: none;

    &:nth-child(4 of .quad) {
      left: -0.25px;
      top: -0.25px;
      width: calc(100% + 0.5px);
      height: calc(100dvh - 12em + 0.5px);
      flex-direction: column;
      z-index: 5;
      padding: 1.5em;
      gap: 0;
      border: solid 0.5px white;

      &::after,
      &::before {
        opacity: 1;
      }
    }
  }

  .homePage .text-container {
    width: 100%;
  }

  .homePage .text-group {
    margin: 0;
  }

  .homePage .header {
    margin: 0;
  }

  .homePage main .module {
    display: unset;
    border: 0.5px solid transparent;
    transition:
      --gradient-percentage 1s ease,
      all 0.5s ease;

    &:nth-child(1 of .module) {
      left: 0.25px;
      top: 0.25px;
      background:
        linear-gradient(black, black) padding-box,
        linear-gradient(
            to bottom right,
            black var(--gradient-percentage),
            white
          )
          border-box;
      z-index: 1;
    }

    &:nth-child(2 of .module) {
      background:
        linear-gradient(black, black) padding-box,
        linear-gradient(to bottom, black var(--gradient-percentage), white)
          border-box;
      right: 0.25px;
      top: 0.25px;
      width: calc(100% + 0.5px);
    }

    &:nth-child(3 of .module) {
      background:
        linear-gradient(black, black) padding-box,
        linear-gradient(to bottom left, black var(--gradient-percentage), white)
          border-box;
      right: 0.25px;
      top: 0.25px;
      z-index: 1;
    }

    &:nth-child(4 of .module) {
      background:
        linear-gradient(black, black) padding-box,
        linear-gradient(to right, black var(--gradient-percentage), white)
          border-box;
      left: 0.25px;
      top: -0.25px;
      height: calc(100% + 0.5px);
    }

    &:nth-child(5 of .module) {
      background:
        linear-gradient(black, black) padding-box,
        linear-gradient(to left, black var(--gradient-percentage), white)
          border-box;
      right: 0.25px;
      top: -0.25px;
      height: calc(100% + 0.5px);
    }

    &:nth-child(6 of .module) {
      background:
        linear-gradient(black, black) padding-box,
        linear-gradient(to top right, black var(--gradient-percentage), white)
          border-box;
      left: 0.25px;
      bottom: 0.5px;
      z-index: 1;
    }

    &:nth-child(7 of .module) {
      background:
        linear-gradient(black, black) padding-box,
        linear-gradient(to top, black var(--gradient-percentage), white)
          border-box;
      right: 0.25px;
      width: calc(100% + 0.5px);
      height: 6em;
      bottom: 0.5px;
      padding-bottom: 0;
      overflow-y: scroll;
    }

    &:nth-child(8 of .module) {
      background:
        linear-gradient(black, black) padding-box,
        linear-gradient(to top left, black var(--gradient-percentage), white)
          border-box;
      right: 0.25px;
      bottom: 0.5px;
      z-index: 1;
    }
  }

  .homePage #mobile-name {
    display: unset;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
    line-height: 1.25;

    p {
      opacity: 0.7;
      font-weight: 400;
      margin: 0;
    }
  }

  #education,
  #press {
    display: none;
  }
}
